<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href='/static/css/blog.css'>
    <link rel="stylesheet" href='/static/css/list.css'>
</head>

<body>
    <div class="page-header">
        <a href="/signup">signup</a>
        <a href="/dec_menu">decrypt</a>
        <a href="/">encrypt</a>
        <h1><a href="/">Easy Encryption</a></h1>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>