<!DOCTYPE html>
<html>

<head>
    <title>Title</title>
</head>

<body>
    <a href="/signup">signup</a>
    <a href="/dec_menu">decrypt</a>
    <h1>please input</h1>
    <form action="/decrypt" method="POST">
        user name:
        <input name="user"></input>
        password:
        <input type="password" name="password"></input>
        key:
        <input type="password" name="key"></input>
        <button type="submit" class="save btn btn-default">
            send
        </button>
    </form>
</body>

</html>