{% extends 'base.html' %}

{% block content %}

<h1>please input to encrypt</h1>
<form action="/encrypt" method="POST">
    user name:
    <input name="user"></input>
    password:
    <input type="password" name="password"></input>
    key:
    <input type="password" name="key"></input>
    server:
    <input name="server"></input>
    pc:
    <input name="pc"></input>
    other:
    <input name="other"></input>
    <button type="submit" class="save btn btn-default">
        send
    </button>
</form>
{% endblock %}